<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.yata.mapper.CarMapper">

	<select id="selectCars" resultType="com.itwillbs.yata.vo.CarVO">
		select * from car
	</select>
	
	<select id="selectCar" resultType="com.itwillbs.yata.vo.CarVO">
		select * 
			from car 
			where car_id = #{car_id}
	</select>
	
	<select id="searchByName" parameterType="String" resultType="com.itwillbs.yata.vo.CarVO">
  	 	SELECT * 
  	 		FROM car 
  	 		WHERE car_model LIKE CONCAT('%',#{car_model},'%');
  	</select>
</mapper>